<div class="container">



  <div class="inputButton ">
    <h2>Add New Contact</h2>
    <div class="inputTypes">
      <input type="text" [(ngModel)]="name" placeholder="Enter your name" required>
      <input type="text" [(ngModel)]="email" placeholder="Enter your email" required>
      <input type="text" [(ngModel)]="phoneNumber" placeholder="Enter your phonenumber" required>
      <input type="file" (change)="onFileSelected($event)">

    </div>
    <div>
      <button id="submit" (click)="addContacts()">Submit New Contact</button>
    </div>
  </div>
  <div>
    <div class="main" *ngFor="let contact of contacts">
      <div class="image">
        <img src="{{ contact.image }}" class="imgaeView">
      </div>

      <div class="details">
        <div class="contactName">
          <label for="name">Name:</label>
          <span>{{contact.name}} </span>
        </div>
        <div class="contactEmail">
          <label for="name">Email:</label>
          <span>{{contact.email}} </span>
        </div>
        <div class="contactNum">
          <label for="name">Phno:</label>
          <span>{{contact.phoneNumber}} </span>
        </div>
      </div>
    </div>
  </div>
</div>